<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlet Definitions -->
  <servlet>
    <servlet-name>RegisterLocationServlet</servlet-name>
    <servlet-class>com.dothat.location.servlet.RegisterLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterLocationServlet</servlet-name>
    <url-pattern>/location/register/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterProviderServlet</servlet-name>
    <servlet-class>com.dothat.relief.provider.servlet.RegisterProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterProviderServlet</servlet-name>
    <url-pattern>/provider/register/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterInstructionServlet</servlet-name>
    <servlet-class>com.dothat.relief.provider.servlet.RegisterInstructionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterInstructionServlet</servlet-name>
    <url-pattern>/provider/assign/instruction/register/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterDestinationServlet</servlet-name>
    <servlet-class>com.dothat.sync.destination.servlet.RegisterDestinationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDestinationServlet</servlet-name>
    <url-pattern>/destination/register/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IVRMappingServlet</servlet-name>
    <servlet-class>com.dothat.ivr.mapping.servlet.IVRMappingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IVRMappingServlet</servlet-name>
    <url-pattern>/ivr/location/map/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IVRNodeMappingServlet</servlet-name>
    <servlet-class>com.dothat.ivr.mapping.servlet.IVRNodeMappingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IVRNodeMappingServlet</servlet-name>
    <url-pattern>/ivr/node/map/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CallNodeLogger</servlet-name>
    <servlet-class>com.dothat.ivr.notif.servlet.CallNodeLogger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallNodeLogger</servlet-name>
    <!--
    Message received notifications are received on URL on the format
    /ivr/node/<ivr-provider>/log/
    -->
    <url-pattern>/ivr/node/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CallLogger</servlet-name>
    <servlet-class>com.dothat.ivr.notif.servlet.CallLogger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallLogger</servlet-name>
    <!--
    Message received notifications are received on URL on the format
    /ivr/call/<ivr-provider>/log/
    -->
    <url-pattern>/ivr/call/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IVRCallProcessor</servlet-name>
    <servlet-class>com.dothat.ivr.notif.task.IVRCallProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IVRCallProcessor</servlet-name>
    <url-pattern>/task/call/processor/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IVRCallNodeProcessor</servlet-name>
    <servlet-class>com.dothat.ivr.notif.task.IVRCallNodeProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IVRCallNodeProcessor</servlet-name>
    <url-pattern>/task/node/processor/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BroadcastReliefRequest</servlet-name>
    <servlet-class>com.dothat.sync.task.BroadcastReliefRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadcastReliefRequest</servlet-name>
    <url-pattern>/task/request/broadcast/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BroadcastProfileUpdate</servlet-name>
    <servlet-class>com.dothat.sync.task.BroadcastProfileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadcastProfileUpdate</servlet-name>
    <url-pattern>/task/attribute/broadcast/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RequestBroadcastProcessor</servlet-name>
    <servlet-class>com.dothat.sync.task.RequestBroadcastProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBroadcastProcessor</servlet-name>
    <url-pattern>/task/request/broadcast/processor/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SyncRequestProcessor</servlet-name>
    <servlet-class>com.dothat.sync.task.SyncRequestProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SyncRequestProcessor</servlet-name>
    <url-pattern>/task/request/sync/*</url-pattern>
  </servlet-mapping>

  <!-- Static File Definitions -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- App Initialization -->
  <listener>
    <listener-class>com.dothat.startup.AppInitializer</listener-class>
  </listener>

  <!-- Objectify Filter -->
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>